﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Welcome @HttpContext.Current.User.Identity.Name

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }
}

<html>
<head>
    <meta charset="utf-8" />
    <link href="~/TextEditorContents/jquery-te-1.4.0.css" rel="stylesheet" />
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script>
    <script src="~/TextEditorContents/jquery-te-1.4.0.min.js"></script>
</head>
<body>
    <textarea id="txtArea" name="textarea"></textarea>
    <button id="btnSave">Save</button>
    <br />
    <br />
    <br />
    <textarea id="txtArea1" style="width:100px;height:20px"></textarea><br />
    <button id="btnGet">Get</button>
</body>
</html>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtArea").jqte();
        });

        $("#btnSave").click(function () {
            var textEditor = {
                Text: $("#txtArea").val()
            };

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/TextEditor/Save",
                traditional: true,
                data: JSON.stringify(textEditor),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var textEditor1 = jQuery.parseJSON(data);
                    if ($.trim(textEditor1.Message) != "") {
                        alert(textEditor1.Message);
                        return false;
                    }
                    alert("Saved.");
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });

        $("#btnGet").click(function () {
            var textEditor = {};

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/TextEditor/Get",
                traditional: true,
                data: JSON.stringify(textEditor),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var textEditor1 = jQuery.parseJSON(data);
                    if ($.trim(textEditor1.Message) != "") {
                        alert(textEditor1.Message);
                        return false;
                    }
                    $("#txtArea1").val(textEditor1.Text);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });
    </script>
</body>